<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hls.api.mapper.UserMapper">
	<!--1.同步科室-->
	<select id="synDepartment" resultType="java.util.HashMap">
		SELECT * from af_per_dept
	</select>
	<!--4.同步出院病人-->
	<select id="af_zy_pat" parameterType="java.util.HashMap" statementType="CALLABLE" resultType="java.util.HashMap">
		{call af_zy_pat(
				#{pat_no,jdbcType=VARCHAR,mode=IN},
				#{beg_time,jdbcType=DATE,mode=IN},
				#{end_time,jdbcType=DATE,mode=IN},
				#{Type,jdbcType=INTEGER,mode=IN})}
	</select>
	<!--5.同步医嘱信息-->
	<select id="af_zy_med" parameterType="java.util.HashMap" statementType="CALLABLE" resultType="java.util.HashMap">
		{call af_zy_med(
				#{visit_id,jdbcType=VARCHAR,mode=IN})}
	</select>
	<!--2.同步职工信息-->
	<select id="af_per_staff" resultType="java.util.HashMap">
		SELECT * from af_per_staff WHERE (staff_no NOT LIKE '%f%') AND (staff_no NOT LIKE '%CRC%')
									 AND  (staff_no NOT LIKE '%WP%') AND (staff_no NOT LIKE '%WSK%')
	</select>
	<!--3.同步在院病人-->
	<select id="af_per_pat" resultType="java.util.HashMap">
		SELECT * from af_per_pat
	</select>
</mapper>
